<!--Setup the `index.handlebars` to have the template that Handlebars can render onto -->
<!-- Create a button in `index.handlebars` that will submit the user input into the database -->

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div align="center"><img src="https://media.giphy.com/media/WBTUlyKBVlTTa/giphy.gif" width="200px" height="200px" margin="35px"> </div>
            <h1 class= "text-white font-weight-bold" align="center" class="mb-4">Eat-Da-Burger</h1>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row mt-4">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h3 class= "text-white" align="center">Add a Burger</h3>
            <form class="create-form">
                <div class="form-group mx-auto" align="center">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Burger name" aria-label="Recipient's username" aria-describedby="basic-addon2" id="burgerName">
                        <div class="input-group-append">
                            <button class="btn btn-dark" type="submit">ADD</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-2"></div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4 mt-2">
            <h3 class= "text-white" align="center">DEVOUR Burgers</h3>
            <ul class="list-group">
                {{#each hamburgers}}
                    {{#unless devoured}} 
                        <li class="list-group-item">
                            <p class="d-inline-flex my-2">
                                {{burger_name}}</p>
                            <button class="devourBtn btn btn-success float-right" data-id="{{id}}">DEVOUR IT!</button>
                        </li>
                    {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-sm-4 mt-2">
            <h3 class= "text-white" align="center">DEVOURED Burgers</h3>
            <ul class="list-group">
            {{#each hamburgers}}
                {{#if devoured}}
                    <li class="list-group-item">
                        <p class="d-inline-flex my-2">
                            {{burger_name}}</p>
                        <button class="deleteBtn btn btn-danger float-right" data-id="{{id}}">DIGEST</button>
                    </li>
                {{/if}}
            {{/each}}
            </ul>
        </div>
        <div class="col-sm-2"></div>
    </div>

    


</div>